.display_stage {
    position: fixed;
    background: black;
    left: 5vw;
    top: 2vh;
    height: 94vh;
    width: 90vw;
    border-radius: 15px;
    border: 1vh solid #D0D0D0;
    z-index: 0;
}

.dd_centerbox {
  width:60vw;
  height: 35vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-68%);
  z-index: 2;
}

.dd_ratingQbox {
  width:60vw;
  height: 35vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-68%);
  z-index: 2;
  text-align: center;
}

.dd_response_div {
  width: 40w;
  height: 8vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,140%);
}

.dd_choice_div {
  width: 80%;
  height: 20%;
  position:absolute;
  top:10%;
  left:10%;
  /*margin-right:-50%;*/
  /*transform: translate(-50%,140%);*/
}

.dd_response_button {
  width: 7vw;
  height: 7vw;
  background: #505050;
  margin: 1vw;
  position: relative;
  color: #fff;
  border-radius:15px;
  font-size: 22px;
  vertical-align:top;
}

.dd_choice_button {
  width: 301px;
  height: 225px;
  position: relative;
  background-color: #000000;
  color: #000000;
  font-size: 22px;
  vertical-align:top;
}

.dd_choice_button:hover {
  border:2px solid #ff0000;
}

.dd_continue_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.dd_left_image {
  float:left;
}

.dd_right_image {
  float:right;
}

.dd_image_button_left {
  width: 301px;
  height: 225px;
  background-color: #000000;
  margin: 1vw;
  position: absolute;
  top: 15px;
  left: 50px;
  color: #000000;
  font-size: 22px;
  vertical-align:top;
  float: left;
}

.dd_image_button_left:hover {
  border:2px solid #ff0000;
}


.dd_image_button_right {
  width: 301px;
  height: 225px;
  background-color: #000000;
  margin: 1vw;
  position: absolute;
  top: 15px;
  right: 50px;
  color: #000000;
  font-size: 22px;
  vertical-align:top;
  float: right;
}

.dd_image_button_right:hover {
  border:2px solid #ff0000;
}

.dd_response_button:hover {
  color: red;
}

.dd_response_button:active {
  background-color: black;
}

.dd_stimBox {
  width: 30vw;
  height: 30vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:0%;
  transform: translate(-50%,-70%);
}

.dd_referenceBox {
  width: 20vw;
  height: 20vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:0%;
  transform: translate(-50%, -20%);
}

.dd_Stim {
  display: block;
  height: 30vw;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%); 
}

.display_stage > div, .display_stage > p {
  color: white;
}